<script src='/public/js/lib/require.js' data-main='/public/js/config'></script>
<link rel='stylesheet' href='/public/css/style.css'>
<h1> AWESOME BLOG WRITTEN IN BACKBONE </h1>
<a href='#' id='showAddPost'> Add New Post </a>
<div id='addPostForm' hidden>
  <h3> Add Post </h3>
  <input id='addTitle' placeholder='Title here . . . '>
  <input id='addAuthor' placeholder="Author's name . . . ">
  <textarea rows='20' cols='143' id='addContent' placeholder='Content here . . .'></textarea>
  <button id='addPost'>Add</button>
</div>
