body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1{
  text-align: center;
}
a {
  color: #00B7FF;
}

.blogfeed{
  background: #E8E8E8;
  padding: 5px;
  margin-bottom: 10px;
}

.blogHeader{
  clear: both;
}

.title{
  display: inline;
}

.options{
  float: right;
}

.postTitle, .postAuthor,
.postContent, #addTitle,
#addContent, #addAuthor{
  display: block;
  margin: 10px;
}

.postTitle, .postAuthor,
#addTitle, #addAuthor{
  width: 1158px;
  height: 35px;
}
